.big-circle {
  width: 20vmin;
  height: 18vmin;
  border-radius: 50% 50% 45% 45%;
}

body {
  --bd: 1vmin solid #000;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

.container {
  width: 40vmin;
  height: 55vmin;
  position: relative;
}
.container div {
  position: absolute;
}

.unicode {
  width: 20vmin;
  height: 10vmin;
  top: 5vmin;
  right: 3vmin;
  color: #e91e1e;
  font: 900 10vmin 'Courier';
  transform: rotate(45deg);
}

.middle {
  top: -3vmin;
  left: 50%;
  transform: translate(-50%, 0);
}

.right {
  right: 0;
}

.head {
  background: #fff;
  top: 10vmin;
  left: 7vmin;
  border: var(--bd);
  transform: rotate(5deg);
  z-index: 2;
}

.ear {
  background: #000;
  width: 5vmin;
  height: 4vmin;
}

.ear-left {
  border-radius: 50% 50% 80% 20%/50% 20% 80% 50%;
}

.ear-right {
  right: 0;
  border-radius: 50% 50% 20% 80%/20% 50% 50% 80%;
}

.eye {
  background: #000;
  width: 5vmin;
  height: 5vmin;
  top: 5vmin;
}
.eye::before {
  background: #fff;
  width: 1vmin;
  height: 1vmin;
  top: 2vmin;
  left: 2vmin;
  display: block;
  position: absolute;
  border-radius: 50%;
  content: '';
}

.eye-left {
  left: 3vmin;
  border-radius: 75% 25% 40% 60%/40% 25% 75% 60%;
}

.eye-right {
  right: 3vmin;
  border-radius: 25% 75% 60% 40%/25% 40% 60% 75%;
}

.nose {
  background: #000;
  width: 2vmin;
  height: 2vmin;
  top: 10vmin;
  left: 8.5vmin;
  border-radius: 50%;
}

.mouth {
  width: 4vmin;
  height: 2vmin;
  top: 12vmin;
  left: 7vmin;
  border-radius: 75% 25%;
  border-bottom: 0.5vmin solid #000;
}

.body {
  background: #fff;
  width: 16vmin;
  height: 20vmin;
  top: 26vmin;
  left: 9vmin;
  border: var(--bd);
  border-radius: 25% 25% 50% 50%;
  z-index: 1;
}

.hand {
  background: #000;
}

.hand-left {
  top: 12vmin;
  left: 5vmin;
}
.hand-left::before {
  background: #000;
  width: 4vmin;
  height: 4vmin;
  top: 1.5vmin;
  left: 2vmin;
  display: block;
  position: absolute;
  border-radius: 100% 50% 100% 25%;
  z-index: 2;
  content: '';
}

.hand-right {
  width: 4vmin;
  height: 14vmin;
  top: 26vmin;
  right: 13vmin;
  transform: rotate(-20deg);
  border-radius: 60% 40% 85% 15%/15% 40% 60% 85%;
}

.leg {
  background: #000;
  width: 7vmin;
  height: 14vmin;
  top: 35vmin;
  z-index: -1;
}
.leg::before {
  background: #000;
  width: 6vmin;
  height: 6vmin;
  bottom: -2vmin;
  display: block;
  position: absolute;
  content: '';
}

.leg-left {
  left: 9vmin;
  border-radius: 25% 75% 25% 75%;
}
.leg-left::before {
  left: 1vmin;
  border-radius: 100% 0% 50% 20%;
}

.leg-right {
  right: 15vmin;
  border-radius: 75% 25% 75% 25%;
}
.leg-right::before {
  right: 1vmin;
  border-radius: 0 100% 20% 50%;
}

.shadow {
  background: #aaa;
  width: 23vmin;
  height: 5vmin;
  bottom: 2vmin;
  left: 5vmin;
  border-radius: 50%;
  z-index: -2;
}
